Source: qt-fsarchiver
Section: utils
Priority: optional
Standards-Version: 1.8.7.0~0ubuntu1~mantic
Maintainer: Dieter Baum <dieterbaum@dieterbaum.sourceforge.net>
Build-Depends:  libzip-dev, 
		libbz2-dev, 
		liblzma-dev, 
		liblzo2-2, 
		liblzo2-dev,
                libgcrypt20-dev, 
		e2fslibs-dev, 
		libblkid-dev, 
		libattr1-dev, 
		debhelper (>= 9), 
		qtbase5-dev,
		qttools5-dev-tools,
                liblz4-dev,
                libzstd-dev
Homepage: http://sourceforge.net/projects/qt-fsarchiver/

Package: qt-fsarchiver
Architecture: amd64
Depends: ${shlibs:Depends},
         ${misc:Depends},
                samba,
                sshfs,
                gdisk,
                sshpass,
                nmap,
                nfs-kernel-server,
                smbclient,
                xfsprogs,
                nfs-common,
                jfsutils,
                btrfs-progs,
                net-tools,
Description: Program to back up and restore partitions,
 directories and the MBR/GPT. Clone hard drives and build images of hard drives.
 

